<div class="weather-list-container @(FromCache ? "cache" : "")">
    @if (WeatherData != null)
    {

        @foreach (var w in WeatherData)
        {
            <div class="wl-company-container">
                <div class="wl-c-desc">@w.Description</div>
                <div class="wl-c-temp-row">
                    <div><img src="_content/Weather/assets/weather/@w.WeatherIcon" /></div>
                    <div class="wl-c-temp">@Math.Round(w.Temperature, 0) °C</div>
                </div>
                <div class="wl-c-time">
                    <div class="wl-c-t-city">
                        <img src="_content/Weather/assets/location-pin.png" />
                        @w.City
                    </div>
                    <div>@w.LocalTime.ToShortTimeString()</div>
                </div>
            </div>
        }
    }
</div>