<div class="tr-date-selector-container">
    

    <DateRangePicker SingleDatePicker="@IsSingleDate">
        <PickerTemplate>
            <div id="@context.ParentId" @onclick="context.Toggle" style="background: #fff; cursor: pointer; padding: .45rem 10px; border: 1px solid #ccc; border-radius: 5px;">
                <i class="far fa-calendar-alt"></i>
                <span>
                    @if (context.TStartDate == null && context.TEndDate == null)
                    {
                        <span>Select dates...</span>
                    }
                    else if (context.TStartDate != null && context.TEndDate == null)
                    {
                        if (context.HoverDate > context.TStartDate)
                        {
                            @($"{context.TStartDate.Value.ToString(context.DateFormat)} - {context.HoverDate.Value.ToString(context.DateFormat)}")
                            @($" - ({(context.HoverDate.Value.Subtract(context.TStartDate.Value).Days).ToString()} nights)")
                        }
                        else
                        {
                            <span>@context.TStartDate.Value.ToString("dd/MM/yyyy")</span>
                        }
                    }
                    else
                    {
                        <span>
                            @context.FormattedRange @($" - ({(context.TEndDate.Value.Subtract(context.TStartDate.Value).Days).ToString()} nights)")
                        </span>
                    }
                </span>
                <i class="oi oi-chevron-bottom float-right"></i>
            </div>
        </PickerTemplate>
    </DateRangePicker>

</div>

@code {
    [Parameter]
    public bool IsSingleDate { get; set; }
}
