<div class="tr-presence-container">

    <div class="trp-info">
        <TimeRecordingsTitle Title="Anwesenheit" />
        <div class="trpi-search">
            @*<input type="text" @onkeydown="InpChanged" value="@SearchText" />*@
            <InputWithLabel Label="Suchen" @bind-InputText="SearchText" Class="perc50" />
            <span>@CheckedEmployeeText</span>
        </div>
        <div class="trp-result">
            <table>
                <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in FoundEmployeesDisplay)
                    {
                        <tr @onclick="@(async e => await LineClicked(emp))" class="@GetCssClass(emp)">
                            <td>@emp.FirstName</td>
                            <td>@emp.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

