<div class="tr-calendar-container">
    <TimeRecordingsTitle Title="Kalendar" />
    <div class="tr-c-control">
        <TimeRecordingsMonthSelector @bind-SelectedMonth="SelectedMonth"/>
    </div>
    <div class="trc-cal-control">
        <div class="cal-item cal-header cal-first">
            Montag
        </div>
        <div class="cal-item cal-header">
            Dienstag
        </div>
        <div class="cal-item cal-header">
            Mittwoch
        </div>
        <div class="cal-item cal-header">
            Donnerstag
        </div>
        <div class="cal-item cal-header">
            Freitag
        </div>
        <div class="cal-item cal-header">
            Samstag
        </div>
        <div class="cal-item cal-header">
            Sonntag
        </div>
        @{
            while (Current <= End)
            {
                var info = GetDayInfo(Current);

                var firstColCss = "";
                if(Current.DayOfWeek == DayOfWeek.Monday) firstColCss = "cal-first";

                var secDate = "";
                if (Current.Month != SelectedMonth.month) secDate = "cal-secdate";

                <div class="cal-item cal-day @firstColCss">
                    <div class="cal-day-d @secDate">
                        @Current.Day
                    </div>
                    <div class="cal-day-az" title="Arbeitszeit">
                        @(info.netWorkTime == TimeSpan.Zero ? "" : info.netWorkTime.ToString(@"h\:mm"))
                    </div>
                    <div class="cal-day-saldo" title="Saldo">
                        @(info.netWorkTimeDiff == TimeSpan.Zero ? "" : info.netWorkTimeDiff.ToString(@"h\:mm"))
                    </div>
                    <div class="cal-day-type">
                        @info.Info
                    </div>
                </div>
                Current = Current.AddDays(1);
            }
        }
    </div>
</div>
