<div class="tr-info-container">
    <TimeRecordingsTitle Title="Übersicht" />
    @if (Info != null)
    {
        <div class="tri-colcontainer">
            <div class="tri-col">
                <TimeRecordingsInfoItem Label="Eingeloggt als" Text="@($"{Info.FirstName} {Info.LastName}")" />
                <TimeRecordingsInfoItem Label="Personalnummer" Text="@Info.EmployeeId.ToString()" />
                <TimeRecordingsInfoItem Label="Urlaub" Text="@Info.HolidayAvailiable.ToString()" />
                <TimeRecordingsInfoItem Label="Angemeldeter Urlaub" Text="@Info.HolidayUsed.ToString()" />
            </div>
            <div class="tri-col">
                @*<TimeRecordingsInfoItem Label="Saldo" Text="@Info.WorktimeSaldo.ToString(@"hh\:mm")" />*@
                <TimeRecordingsInfoItem Label="Saldo" Text="@($"{(Info.WorktimeSaldo.Days * 24 + Info.WorktimeSaldo.Hours)}:{(Info.WorktimeSaldo.Minutes < 10 ? $"0{Info.WorktimeSaldo.Minutes}" : Info.WorktimeSaldo.Minutes.ToString())}")" />
                <TimeRecordingsInfoItem Label="Eintrittstag" Text="@Info.EntryDate.ToShortDateString()" />
                @if (Info.FreeTimeOption != TimeSpan.Zero)
                {
                    <TimeRecordingsInfoItem Label="Freizeitoption" Text="@Info.FreeTimeOption.ToString(@"hh\:mm")" />
                }
                <TimeRecordingsInfoItem Label="Planstelle" Text="@Info.ManagerDisciplinary.ToString()" />

            </div>
        </div>
    }
</div>
